.container {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.row {
    /* IE10 */
    display: -ms-flexbox;
    display: flex;
    /* IE10 */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    max-width: 600px;
    margin-top: 8px;
}

/* Create two equal columns that sits next to each other */
.column {
    /* IE10 */
    -ms-flex: 50%;
    flex: 50%;
    max-width: 300px;
    padding: 0 4px;
}

img {
    vertical-align: middle;
    width: 100%;
}

.img-3x3 {
    max-width: 300px;
}

.img-6x3 {
    max-width: 600px;
}

.img-border {
    position: relative;
    overflow: hidden;
    background: black;
    padding: 2px;
}

#panel-03, #panel-15, #panel-19, #panel-26-27, #panel-30 {
    padding: 0 8px;
}

.jack {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

#panel-03 .jack {}

#panel-04 .jack {
    top: -2px;
    left: -2px;
}

#panel-05 .jack {
    top: -2px;
}

#panel-06 .jack {
    bottom: 2px;
}

#panel-08 .jack {
bottom: 2px;
}

.diamond {
    position: absolute;
    z-index: 1;
}

#panel-11-12 .diamond {
    bottom: 2px;
}

#panel-17-18 .diamond {
    bottom: 1px;
    left: 0;
}

.panel-transition {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.appear {
    opacity: 1;
    transition: opacity 1s;
}
