html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

body {
    font-size: 18px;
    font-family: 'Baloo Bhaina 2', cursive;
    color: white;
    overflow: hidden;
}

#nav-bar {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 200;
    background-color: black;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .5);

    transition: 0.5s;
}

#nav-bar a {
    text-decoration: none;
    font-size: 2em;
    transition: 0.3s;
    margin: 10px;
}

#close {
    
    display: inline-block;
    color: white;
}

#open {
    display: none;
    color: black;
}

#nav-bar h1 {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: black;

    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
