html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 50px 0;
    width: 600px;
    position: relative;
}


/* COLONNE */
.column {
    float: left;
}

/* Clear floats */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* ------ */


.panels {
    overflow: hidden;
    position: relative;
    border: 4px solid black;
}

.panels img {
    position: absolute;
}

.panels3x3 {
    width: 282px;
    height: 292px;
}

.panels6x3 {
    width: 592px;
    height: 272px;
}

.margin-up {
    margin-top: 10px;
}

.margin-after {
    margin-right: 10px
}

.margin-under {
    margin-bottom: 20px;
}

.margin-before {
    margin-left: 10px;
}

.jack {
    opacity: 0;
    transition: opacity 1s;
}

.appear {
    opacity: 1;
    transition: opacity 1s;
}
